@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Montserrat:wght@800&display=swap');

@theme {
  --font-sans: "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  
  --color-floral: #FFFAF0;
}

body {
  background-color: var(--color-floral);
}
